
---
connection_info:
  dbname: newoti
  user: pguser
tables:
  curatorstudytable: curator_study_map
  treeotutable: tree_otu_map
  otutable: otu
  curatortable: curator
  treetable: tree
  studytable: study
ginindex: study_ix_jsondata_gin
