
---
connection_info:
  dbname: otindex
  user: postgres
  password: pwd
tables:
  curatorstudytable: curator_study_map
  treeotutable: tree_otu_map
  curatortable: curator
  treetable: tree
  studytable: study
  otttable: taxonomy
  synonymtable: synonym
  propertytable: property
treeginindex: tree_ix_jsondata_gin
studyginindex: study_ix_jsondata_gin
taxonomy: None
